%p
= link_to 'Courses', courses_url
\/
= link_to @course.title, course_path(@course)
\/
New
%p

.card.m-4
    .card-header
        %h1 New lesson
    .card-body
        = render 'form'
    .card-footer
        = link_to 'Back', course_path(@course)
