- content_for :title do 
    E-LEARN 
    \|
    New
    = @course.title

.card.mt-4
    .card-header 
        %h1 New course
    .card-body
        = render 'form'
    .card-footer
        = link_to 'Courses', courses_path, class: 'btn btn-primary'
